.cart
  padding-top: 50px
  position: relative
  &:before, &:after
    display: block
    position: absolute
    z-index: -1
  &:before
    content: url(/bg-cart-pc-left.svg)
    top: 283px
    left: 0
  &:after
    content: url(/bg-cart-pc-right.svg)
    top: 578px
    right: 0
    z-index: -1
  + .footer
    .footer-top
      display: none
    .footer-bottom
      background: #0060cf

    .footer-bottom-wrapper
      p:first-child
        color: #ffffff
        margin: 0 auto
      a
        display: none
  & .separator
    margin-bottom: 39px
    padding: 0
    &:before, &:after
      background: $gray
  &-container
    max-width: 1000px
    width: 100%
    margin: 0 auto
  &-logo
    text-align: center
    padding: 20px 0
  &-back
    text-align: center
    margin-top: 24px
    margin-bottom: 52px
    a
      text-decoration: underline
      color: $color-blue
  &__title
    font-size: 36px
    line-height: 1.65
  &-status
    height: 0

    visibility: hidden
    opacity: 0

    display: flex
    align-items: center
    justify-content: center
    +h6
    &.success
      padding: 0
      background: #B7FF9B

    &._active
      height: auto
      min-height: 30px
      visibility: visible
      opacity: 1
      margin: 60px 0 10px
    &.error
      background: #f8c8cc
  &__title
    font-weight: bold
    font-size: 36px
    margin-bottom: 50px
    text-align: center
    text-transform: uppercase
  &-row
    position: relative
    display: grid
    grid-template-columns: 4fr 1fr 1fr 1fr
    margin-bottom: 40px
    &__delete
      position: absolute
      cursor: pointer
      user-select: none
      right: 0

      top: 50%
      transform: translateY(-50%)

    &__name
      display: flex
      align-items: center
      justify-content: flex-start
      img
        margin-right: 14px
    &__price
      text-align: center
    &__quantity
      display: flex
      align-items: center
      justify-content: space-between
      padding: 0 40px 0 13px
      user-select: none
      min-width: 140px
      margin-left: auto

      svg
        cursor: pointer
        filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.12))
    &__total
      text-align: center
  &-button
    &__total
      flex-basis: 335px
      display: flex
      align-items: center
      justify-content: flex-start
      p
        font-weight: bold
        &:first-child
          flex-basis: 210px
  &__info
    max-width: 1130px
    margin: 0 auto


  &-form
    margin: 0 auto 55px
    max-width: 625px

    &-row
      &__item
        &.item-error
          input
            border-color: #ff4633
    .btn
      margin: 0 auto 25px
      max-width: 450px
    p
      max-width: 525px
      margin: 0 auto

  &__empty
    min-height: calc(100vh - 421px)
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    .cart-row
      display: block
      text-align: center
      width: 100%
      font-size: 18px
      margin-bottom: 25px
    .btn
      display: flex
      text-transform: none
    img
      margin: 25px 0
      width: 240px
  p>span
    display: block
    font-weight: 600
    margin-top: 25px
  &__item

    padding: 25px 0
    position: relative
    border-bottom: 1px solid $gray

    .cart-row
      display: flex
    .cart__body
      display: flex
      flex-direction: row
      justify-content: space-between
      align-items: center
      padding: 0 70px 0 20px
      width: 100%
  .btn-wrapper
    .btn
      text-transform: none
.logo-pay--wrapper
  display: flex
  margin-bottom: 25px
  width: 100%
.logo-pay
  margin-right: 50px
  display: block

@media screen and (max-width: 768px)
  .cart

    padding: 0
    margin-bottom: 0
    overflow-y: hidden
    &-checkout
      padding-bottom: 50px
    &:before
      content: url(/bg-cart-left.svg)
      top: 113px
      left: 0
    &:after
      content: url(/bg-cart-right.svg)
      top: 295px
      right: 0
      z-index: -1
    &__full
      display: block
    &__title
      +h4
      margin-bottom: 10px
    &-status
      text-align: center
    &-header
      display: none
    .btn-wrapper
      .btn
        order: 2
    &-button
      &__total
        order: 1
        flex-basis: auto
        display: flex
        justify-content: space-between
        width: 100%
        margin-bottom: 25px
        .total
          +h2
      &--bottom
        border-top: none
        margin-top: 25px
        margin-bottom: 25px
        .btn
          text-transform: none
    &__empty
      font-size: 16px
      min-height: calc(100vh - 185px)
      img
        width: 120px
    &-container
      p
        +h5
        color: $color-text
      b
        +h5-bold
    &-back
      display: none
    &-form
      margin-bottom: 25px
      &__title
        +h4

      &-row
        grid-template-columns: 1fr
    .mb-35
      margin-bottom: 25px

    &-row
      margin-bottom: 0
      grid-template-columns: 76px 1fr
      grid-template-areas: 'icon name' 'icon cost'
      +h5
      &__delete
        top: 0
        right: 0
        left: auto
        transform: none
      &__icon
        min-width: 76px
        img
          width: 76px
          height: auto
          -webkit-border-radius: 3px
          -moz-border-radius: 3px
          border-radius: 3px
          filter: drop-shadow(2px 2px 12px rgba(0, 0, 0, 0.25))
      &__name
        grid-area: name
        padding-left: 14px
        padding-right: 30px
        align-items: flex-start
        p
          +h6
      &__price
        grid-area: cost
        padding-left: 14px
        text-align: left
        margin-top: auto
        p
          +h5-bold
      &__quantity
        position: absolute
        bottom: 0
        right: 0
        padding: 0
        display: flex
        min-width: 85px
        align-items: center
        justify-content: space-between
        .quantity-btn
          width: 24px
        p
          +h5-bold
        svg
          filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.12))
          &._disabled
            rect:last-child
              fill: #BAC8CF
    &__item

      padding: 25px 0
      position: relative
      border-bottom: 1px solid $gray

      .cart-row
        display: flex
      .cart__body
        display: flex
        flex-direction: column
        justify-content: space-between
        padding: 0
        align-items: flex-start
    .separator--thin
      margin: 25px 0
      &:before
        height: 1px
      &:after
        display: none

  .cart-big-button
    margin-bottom: 50px
    button
      width: 100%
      -webkit-border-radius: 25px
      -moz-border-radius: 25px
      border-radius: 25px
      height: 55px
      +h3
      padding: 0
      margin-bottom: 25px
      background: linear-gradient(90deg, #17D270 0%, #1CC16B 38.02%, #12B861 64.58%, #17D270 100%), linear-gradient(90deg, #E94139 0%, #D01A14 50.2%, #FA4731 100%), linear-gradient(90deg, #FFC133 0%, #FFB800 50.2%, #FAFF00 100%), linear-gradient(90deg, #FFC133 0%, #DA9D00 32.62%, #DA9D00 61.58%, #FAFF00 98.31%), #FFC133
    p
      +h6


  .cart-form-row__item input
    border: 1px solid #0D6DD8
    padding: 10px 20px
    font-style: normal
    &::placeholder
      font-style: normal
      +h5
      color: #808080

  .logo-pay
    max-width: 126px
  .separator--thin
    margin: 25px 0

@media only screen and (max-width: 767px)
  .logo-pay
    margin-right: 20px
    max-height: 30px

@media only screen and (max-width: 340px)
  .logo-pay--wrapper
    flex-wrap: wrap
  .logo-pay
    width: 50%
    margin-right: 0
    margin-bottom: 15px
