.faq
  & .container
    max-width: 1060px
  &-banner
    margin-bottom: 39px
  & .subscribe
    p
      color: $color-text
  & .section-header
    margin-bottom: 21px
.faq-items
  margin-bottom: 63px
.faq-item
  background: transparent
  cursor: pointer
  padding: 20px 10px 20px 0
  width: 100%
  border: none
  line-height: 1.5
  text-align: left
  outline: none
  font-size: 22px
  font-weight: 700
  color: $color-text
  position: relative
  display: flex
  align-items: center
  //border-bottom: 2px solid #bac8cf
  svg
    margin-right: 20px
  &__img
    &-1
      width: 12px
      height: 11px
      margin-right: 20px
    &-2 
      margin-right: 15px
    &-3
      margin-right: 19px
    &-4
      margin-right: 13px
    &-5
      margin-right: 21px
    &-6
      margin-right: 9px
  &:hover
    //background-color: #ccc
  &.faq-item-active
    //background-color: #ccc
    border-bottom: none
    &::after
      content: "\2212"


  &__inner
    padding-left: 33px
    display: none
    transition: max-height 0.2s ease-out
    border-bottom: 2px solid #bac8cf
    p
      line-height: 27px
      margin-bottom: 36px
    span
      color: $color-blue
    a
      color: $color-blue
      text-decoration: underline
    ul
      li
        position: relative
        padding-left: 20px
        margin-bottom: 40px
        &::before
          position: absolute
          content: ''
          background: $color-text
          width: 6px
          height: 6px
          border-radius: 100%
          left: 0
          top: 10px
    &.visible
      display: block
  &::after
    position: absolute
    content: '\002B'
    color: #bac8cf
    font-weight: bold
    right: 0
  &-last
    & .faq-item
      padding-left: 37px
      cursor: default
      margin-bottom: -15px

      &::after
        content: none
    p
      padding-left: 34px
      a
        color: $color-blue


@media screen and (max-width: 900px)
  .faq
    &-item
      font-size: 19px

@media screen and (max-width: 400px)
  .faq
    &-item
      font-size: 17px
      padding-left: 0px
      &-last
        text-align: center
        p
          padding-left: 0px