.faq
  padding-top: 0
  position: relative
  &:before, &:after
    display: block
    position: absolute
    z-index: -1
  &:before
    content: url(/bg-faq-pc-left.svg)
    top: 283px
    left: 0
  &:after
    content: url(/bg-faq-pc-right.svg)
    top: 578px
    right: 0

  & .container
    max-width: 1060px
  &-banner
    margin-bottom: 50px
  & .subscribe
    p
      color: $color-text
  & .section-header
    margin-bottom: 21px
  .subscribe
    margin-bottom: 15px
  &--how-to
    .faq-icon
      width: 25px
      height: 24px
    .faq-item__inner
      padding-left: 50px
.faq-items
  margin-bottom: 50px
.faq-item
  background: transparent
  cursor: pointer
  padding: 30px 10px 30px 0
  width: 100%
  border: none
  line-height: 1.5
  text-align: left
  outline: none
  font-size: 22px
  font-weight: 700
  color: $color-text
  position: relative
  display: flex
  align-items: center
  span
    color: #0D6DD8
    margin-left: 5px
  .faq-icon
    min-width: 20px
    margin-right: 25px

  .faq-plus
    min-width: 30px
    position: absolute
    right: 0
    rect:first-child
      transition: all 0.2s ease
      transform-origin: center
  &.faq-item-active
    //background-color: #ccc
    border-bottom: none
    .faq-plus
      rect:first-child
        transform: rotate(-90deg)
        transform-origin: center
        transition: all 0.2s ease

  &__inner
    padding-left: 45px
    max-height: 0
    overflow: hidden
    transition: max-height 0.2s ease-out
    border-bottom: 2px solid $gray
    p
      line-height: 27px
      margin-bottom: 20px
      &:last-child
        margin-bottom: 30px
    strong 
      color: red
    span
      color: $color-blue
    ul
      li
        position: relative
        padding-left: 20px
        margin-bottom: 25px
        &::before
          position: absolute
          content: ''
          background: $color-text
          width: 6px
          height: 6px
          border-radius: 100%
          left: 0
          top: 10px
    &.visible
     max-height: 9999px

  &-last
    & .faq-item
      padding-left: 50px
      cursor: default
      margin-bottom: -15px
      position: relative
      z-index: 1
      &::after
        content: none
    p
      padding-left: 50px
      position: relative
      z-index: 2
      a
        color: $color-blue

  .btn--vk
    display: none



@media screen and (max-width: 900px)
  .faq
    &-item
      font-size: 19px

@media screen and (max-width: 768px)
  .faq
    margin-bottom: 0
    &:before
      content: url(/bg-faq-left.svg)
      top: 330px
    &:after
      content: url(/bg-faq-right.svg)
      top: 652px
    .pattern-bg
      top: -132px
      opacity: 1
      height: 375px
      background-image: url(/patterrn-faq.png)
    &-banner
      margin-bottom: 25px
      padding: 0 20px

      img
        min-height: 242px
        object-fit: cover
        object-position: center
    &-plus
      display: none
    &-items
      margin-bottom: 35px
      &:last-of-type
        margin-bottom: 0
    &-item
      +h5-bold
      position: relative
      padding-left: 40px
      display: block
      img
        min-width: 19px
        height: 16px
        object-fit: contain
      svg
        min-width: 20px
      span
        margin-left: 0

      .faq-icon
        position: absolute
        left: 0
        top: 50%
        transform: translateY(-50%)
        path
          fill: $gray
      &:after
        display: none
      &__inner
        padding-left: 40px
        p
          margin-bottom: 15px
          +h6
          color: $color-text
      &-last
        display: flex
        flex-direction: column
        align-items: center
        .faq-item
          display: flex
          padding: 25px 0
          +h4
          justify-content: center
          margin-bottom: 0
    .btn--vk
      display: flex
    .subscribe
      display: none
  .btn--vk
    +h3
    padding: 0
    background: linear-gradient(90deg, #35A3FF 0%, #0D6DD8 38.02%, #005DCE 64.58%, #33A0FD 100%), #C4C4C4
    svg
      display: block
      margin-left: 10px
  .faq--how-to
    .faq-item .faq-icon path
      fill: #0D6DD8
@media screen and (max-width: 400px)
  .faq
    &-item
      font-size: 17px
      &-last
        text-align: center
        p
          padding-left: 0px
