.feedbacks
  padding-top: 0

  .container
    position: relative
    max-width: 1320px
    padding: 0 30px
  &__slider-wrap
  .swiper-container
    max-width: 960px
.feedback
  &-item
    position: relative
    max-width: 310px
    border: 2px solid #35A3FF
    margin-top: 50px
    margin-bottom: 0
    -webkit-border-radius: 20px
    -moz-border-radius: 20px
    border-radius: 20px
    &__inner
      position: relative
      border-radius: 20px
      padding: 65px 5px 25px
      display: flex
      justify-content: center
      flex-direction: column
      align-items: center
    &__text
      +h6
      font-style: normal
      color: $color-text
      text-align: center
      margin-bottom: 35px
    &__from
      +h5-bold
      text-align: center
    &__who
      +h6
    &__image
      position: absolute
      left: 50%
      transform: translateX(-50%)
      bottom: auto
      top: -50px
      height: auto
      border: none
      img
        width: 100px
        height: 100px
        border-radius: 100%
        object-fit: cover

@media screen and (max-width: 1023px)
  .feedbacks .swiper-button-next, .feedbacks .swiper-button-prev
    display: none !important
@media screen and (max-width: 768px)
  .feedbacks
    padding-top: 50px
    padding-bottom: 0
    .container
      padding: 0
    .swiper-slide
      padding: 0 5px 0 15px
      min-width: 330px
    &__slider-wrap
      max-width: 100%

    &-button
      &-prev,
      &-next
        display: none !important

