.footer
  &-top
    background: #0060cf
    padding: 51px 0

    & .container
      max-width: 1000px
    &-wrapper
      display: flex
      align-items: flex-start
      justify-content: space-between
    &-social
      display: flex
      align-items: center
      justify-content: space-between
      padding-top: 17px
      max-width: 411px
    &-left
      flex-basis: 504px
      p
        color: #ffffff
        margin-bottom: 26px
        &:last-child
          margin-bottom: 0
    &-right
      flex-basis: 380px
      p
        color: #ffffff
        margin-bottom: 20px

  &-bottom
    padding: 35px 0
    & .container
      max-width: 1000px
    &-wrapper
      display: flex
      align-items: flex-start
      justify-content: space-between
      p
        color: #0060cf
      a
        color: #0060cf
  &-cat 
    cursor: pointer