.footer
  &-top
    background: #0060cf
    padding: 50px 0
    &-wrapper
      display: flex
      align-items: flex-start
      justify-content: space-between
    &-social
      display: flex
      align-items: center
      justify-content: space-between
      padding-top: 17px
      max-width: 411px
    &-left
      max-width: 777px
      margin-right: 53px
      p
        color: #ffffff
        margin-bottom: 26px
        &:last-child
          margin-bottom: 0
    &-right
      width: 100%
      max-width: 490px
      p
        color: #ffffff
        margin-bottom: 20px
        font-size: 24px
        font-weight: 700

  &-bottom
    padding: 35px 0
    & .container
      max-width: 100%
      padding: 0 90px
    &-wrapper
      display: flex
      align-items: center
      justify-content: space-between
      p
        color: #000000
        margin-right: 14px
      a
        color: #000000
        transition: all .2s ease
        text-decoration: none
        &:not(:last-child)
          margin-right: 50px
        &:hover
          color: $color-blue

  &-cat
    display: inline-flex
    cursor: pointer
.cart-fix
  position: fixed
  left: 20px
  bottom: 80px
  width: 55px
  height: 55px
  -webkit-border-radius: 50%
  -moz-border-radius: 50%
  border-radius: 50%
  display: none
  justify-content: center
  align-items: center
  background: linear-gradient(90deg, #0D6DD8 7.2%, #0D6DD8 39.97%, #33A0FD 100%), #C4C4C4
  &::after
    position: absolute
    content: attr(data-num)
    width: 16px
    height: 16px
    background: red
    border-radius: 100%
    color: #FFFFFF
    font-size: 10px
    display: flex
    align-items: center
    justify-content: center
    right: 0
    top: 0
#vk_community_messages
  bottom: 60px !important
@media screen and (max-width: 767px)
  .cart-fix
    display: flex
  .footer
    &-top
      .container
        max-width: 420px
      &-wrapper
        flex-direction: column
      &-left

        margin-right: 0
        order: 2
        p
          +h5
          margin-bottom: 35px
      &-right
        order: 1
        margin-bottom: 25px
        overflow: hidden
        p
          +h4
          margin-bottom: 25px
    &-cat
      display: none
    &-bottom
      .container
        padding: 0 20px
@media screen and (max-width: 600px)
  .footer
    &-bottom
      padding: 25px 0
      &-wrapper
        justify-content: center
        p
          +h5-bold
          color: #000000
          text-align: center

@media screen and (max-width: 480px)
  .footer
    &-bottom
      &-wrapper
        font-size: 13px

@media screen and (max-width: 430px)
  .footer
    &-bottom
      &-wrapper
        font-size: 11px

@media screen and (max-width: 370px)
  .footer
    &-bottom
      &-wrapper
        font-size: 10px

  .el-notification
    width: 300px
