@import "mixin"
.header
  //background: rgb(0,89,201)
  //background: linear-gradient(90deg, rgba(0,89,201,1) 0%, rgba(43,181,255,1) 18%, rgba(0,89,201,1) 100%)
  background: transparent
  padding: 15px 0

  transition: all .2s linear
  position: absolute
  left: 0
  right: 0
  height: 90px
  z-index: 100
  &.header-bg
    // background: none
    background: linear-gradient(90deg, rgba(0,89,201,1) 0%, rgba(43,181,255,1) 18%, rgba(0,89,201,1) 100%)
    margin-bottom: 64px //normal
    //margin-bottom: 58px faq
    //margin-bottom: 37px streamer
    position: sticky
    top: 0
  &.header-prepare-sticky
    top: -90px
    transition: all .2s linear
  &.header-sticky
    position: fixed
    transition: all .2s linear
    top: 0
    width: 100%
    background: linear-gradient(90deg, rgba(0,89,201,1) 0%, rgba(43,181,255,1) 18%, rgba(0,89,201,1) 100%)
    z-index: 100
    & .header-logo
      & .logo_w
        display: block

  &-wrapper
    display: flex
    align-items: center
    justify-content: space-between
  &-logo
    flex-grow: 1
    cursor: pointer
  &-nav
    flex-grow: 3
    ul
      display: flex
      align-items: center
      justify-content: space-between
      li
        position: relative
        &:first-child
          display: none
        &.navItemActive

          &::after
            position: absolute
            content: ''
            background: $color-yellow
            left: 0
            right: 0
            height: 2px
            bottom: -5px
        &.with-star
          &::before
            position: absolute
            content: url(/star.png)
            left: 50%
            transform: translateX(-50%)
            top: -20px

        a
          color: #FFFFFF
          font-size: 18px
  &__button
    flex-grow: 1
    text-align: right
    display: none
    a
      display: inline-block
      font-size: 14px
      color: #333333
      font-weight: 800
      text-transform: uppercase
      background: $color-yellow
      border-radius: 2px
      padding: 8px
    &--cart
      position: relative

      &::after
        position: absolute
        content: attr(data-num)
        width: 15px
        height: 15px
        background: red
        border-radius: 100%
        color: #FFFFFF
        font-size: 10px
        display: flex
        align-items: center
        justify-content: center
        right: -8px
        top: -5px

.hamburger
  width: 35px
  height: 26px
  position: relative
  display: none
  cursor: pointer
  overflow: hidden
  margin: 0 7px 0 2px
  text-align: right
  &.active
    .bar
      &-1,
      &-4
        top: 18px
        width: 0
        left: 50%
      &-2
        transform: rotate(45deg)
        width: 35px
      &-3
        transform: rotate(-45deg)
        width: 35px
    + .header-nav
        visibility: visible
        opacity: 1

.bar
  position: absolute
  height: 2px
  width: 100%
  background: #fff
  opacity: .9
  left: 0
  transition: .2s ease-in-out
  border-radius: 1px
  &-1
    top: 0
  &-2,
  &-3
    width: 25px
    top: 12px
    left: auto
    right: 0

  &-4
    top: 24px

@media screen and (max-width: 768px)
  .header
    padding: 18px 0 15px
    height: auto
    &.header-bg
      position: fixed
      margin-bottom: 0
      background: linear-gradient(180deg, #0D6DD8 0%, rgba(13, 109, 216, 0.580271) 50.85%, rgba(13, 109, 216, 0) 100%)
      + .cart.cart-checkout
        padding-top: 115px
      + section, + .cart, + .faq, + .location
        padding-top: 70px

    &__title

      width: 100%
      margin-top: 20px
      +h4
      color: #fff
      text-align: center
      text-transform: uppercase
    &-logo
      flex-grow: 0
      display: inline
      z-index: 2
      img
        max-width: 80px
    &-nav
      position: fixed
      top: 0
      right: 0
      bottom: 0
      left: 0
      transition: opacity .2s linear,top .2s linear,visibility .2s linear
      visibility: hidden
      opacity: 0
      display: flex
      flex-wrap: wrap
      align-items: center
      justify-content: center
      background: url(/bg-nav.png)
      color: #ffffff
      padding: 80px 20px 0
      z-index: 1
      ul
        display: flex
        flex-direction: column
        align-items: center
        width: 100%
        li
          margin-bottom: 30px
          display: inline-block
          text-align: center
          &:first-child
            display: inline-block
          a
            +h2
            color: #ffffff
            border: none
            width: 100%
            display: block
            text-align: center
    &.header-sticky
      background: linear-gradient(180deg, #0D6DD8 0%, rgba(13, 109, 216, 0.580271) 50.85%, rgba(13, 109, 216, 0) 100%)
    &__button
      width: 100%
      text-transform: uppercase
      display: flex
      justify-content: center
      color: #fff
      align-items: center
      background: linear-gradient(0deg, #FFA800, #FFA800), #FFC133
      border-radius: 50px
      text-align: center
      padding: 7px 35px 6px
      max-width: 335px
      +h3
      height: 55px
      &--cart
        &:after
          position: relative
          right: auto
          top: auto
          width: 26px
          height: 26px
          margin-left: 10px
          +h5-bold
  .hamburger
    display: block
    z-index: 2
