.how-it-was
  position: relative
  overflow: visible
  .section-header
    margin-bottom: 25px
  .section-subheader
    max-width: 100%
    margin-bottom: 25px
  & .separator
    margin: 65px auto
  &-photos
    margin-bottom: 52px
    #silentbox-gallery
      display: flex
      flex-wrap: wrap
      justify-content: space-evenly
      padding: 0
      margin-bottom: -30px
    .silentbox-item
      width: calc((100% - 120px) / 3 )
      margin-bottom: 30px
      img
        width: 100%
        height: 100%
        object-fit: cover
        display: block
  .btn
    text-transform: uppercase
  &-photo
    cursor: pointer
    width: 390px
    height: 225px
    object-fit: cover
@media screen and (max-width: 900px)
  .how-it-was
    &-photos
      #silentbox-gallery
        justify-content: space-between
      .silentbox-item
        width: calc( (100% - 30px) /2 )

@media screen and (max-width: 768px)
  #silentbox-gallery
    padding: 0
    align-items: flex-start
  .how-it-was
    position: relative
    margin-bottom: 0
    padding-bottom: 0
    &:before, &:after
      display: block
      position: absolute
    &:before
      content: url(/bg-hiw-left.svg)
      top: 0
      left: 0
    &:after
      content: url(/bg-hiw-right.svg)
      bottom: -295px
      right: 0
      z-index: -1
    &-photos
      .silentbox-item
        margin-bottom: 25px
      #silentbox-gallery
        margin: 0
    .btn
      width: 100%
      max-width: 360px
@media screen and (max-width: 767px)
  .how-it-was-photos
    .silentbox-item
      &:nth-child(5), &:nth-child(6)
        display: none
@media screen and (max-width: 540px)
  .how-it-was
    .section-header
      margin-bottom: 25px
    .btn
      padding: 0
      &.btn-w-icon
        background: linear-gradient(90deg, #35A3FF 0%, #0D6DD8 68.1%, #33A0FD 100%), #C4C4C4
    .section-subheader
      margin: 0 0 25px 0
    .separator
      margin: 50px auto
@media screen and (max-width: 500px)
  .how-it-was
    &-photos
      margin-left: 0
      margin-right: 0
      .silentbox-item
        width: 100%
        margin-left: 0
        margin-right: 0
  .how-it-was-photos
    .silentbox-item
      img
        display: block
