.how-it-was
  margin-bottom: 80px
  & .btn
    padding: 27px 90px
  & .section-header
    margin-bottom: 20px
  & .section-subheader
    margin-bottom: 8px
  & .separator
    margin-bottom: 61px
  &-photos
    display: grid
    grid-template-columns: repeat(auto-fill,minmax(370px,1fr))
    grid-gap: 10px
    margin-bottom: 52px
  &-photo
    cursor: pointer
    img
      width: 390px
      height: 225px
      object-fit: cover