.partners
  position: relative
  margin-bottom: 80px
  & .section-header
    margin-bottom: 35px
  &-btn
    text-align: center
    position: relative
  &-img
    display: flex
    flex-wrap: wrap
    justify-content: center
    margin: 0 auto 50px
    img
      margin: 0 7.5px 15px
    &.general
      text-align: center
      img
        width: 400px
        height: 200px
        // object-fit: cover
    &.strategy
      img
        width: 360px
        height: 180px
        object-fit: cover
    &.official
      max-width: 855px
      img
        width: 270px
        height: 130px
        object-fit: cover
    &.tematic
      img
        width: 210px
        height: 105px
        object-fit: cover
  &-modal
      opacity: 0
      visibility: hidden
      background: rgba(43,46,56,.9)
      position: fixed
      z-index: 9999
      top: 0
      right: 0
      bottom: 0
      left: 0
      transition: all .2s linear
      &.visible
        opacity: 1
        visibility: visible
      &__close
        background: #00a1e0
        color: #fff
        width: 28px
        height: 28px
        display: flex
        justify-content: center
        align-items: center
        font-size: 14px
        outline: none
        position: absolute
        top: 20px
        right: 30px
        cursor: pointer
        border: none
        border-radius: 14px
      &__iframe
        width: 100%
        height: 100%

@media screen and (max-width: 768px)
  .partners
    margin-bottom: 0
    position: relative
    z-index: 1
    &:before, &:after
      display: block
      position: absolute
    &:before
      content: url(/bg-partners-left.svg)
      top: 0
      left: 0
    &:after
      content: url(/bg-partners-right.svg)
      bottom: -103px
      right: 0
      z-index: -1
    .section-header
      margin-bottom: 25px
    &-img
      margin-bottom: 32px
      img
        margin-left: 0
        margin-right: 0
        margin-bottom: 25px
      &.general,
      &.official,
      &.tematic
        a
          &:not(:nth-child(4n+1))
            margin-left: 17px
        img
          max-width: 140px
          width: 100%
          height: auto
      &.strategy
        a
          &:not(:nth-child(2n+1))
            margin-left: 17px
        img
          max-width: 200px
          width: 100%
          height: auto
    &-btn
      .btn
        width: 100%
        padding: 0
        justify-content: center
@media screen and (max-width: 450px)
  .partners
    &-img
      &.general,
      &.official,
      &.tematic
        a
          &:not(:nth-child(4n+1))
            margin: 0
          &:not(:nth-child(3n+1))
            margin-left: 17px
        img
          max-width: 100px
      &.strategy
        a
          &:not(:nth-child(2n+1))
            margin: 0
          &:not(:nth-child(odd))
            margin-left: 15px
        img
          max-width: 160px
          width: 100%
          height: auto
@media screen and (max-width: 360px)
  .partners
    &-img
      &.general,
      &.official,
      &.tematic
        a
          margin: 0 !important
          width: 50%
          display: flex
          justify-content: center
          align-items: center

