.streamers
  margin-bottom: 80px
  .section-header
    margin-bottom: 20px
  .section-subheader
    max-width: 547px
    margin-bottom: 53px
  .separator
    margin-bottom: 60px
  &-wrapper
    display: grid
    grid-template-columns: repeat(auto-fill,minmax(220px,1fr))
    grid-column-gap: 15px
    grid-row-gap: 30px
    margin-bottom: 50px
  &-item
    cursor: pointer
    text-align: center
    img
      width: 230px
      height: 290px
      object-fit: cover
      margin-bottom: 5px
    &__nick
        font-weight: 700
        margin-bottom: 10px
    &__fio
        font-size: 16px
  &-btn
    text-align: center
