.streamer
  margin-bottom: 72px
  &-container
    max-width: 1000px
    margin: 0 auto
  &-top
    display: grid
    grid-template-columns: 1fr 4fr
    grid-gap: 30px
    margin-bottom: 44px
    &__avatar
      height: 290px
      background-size: cover !important
    &__big
       height: 290px
       background-size: cover !important
  &-info
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 30px
    &__name
      p
        &:first-child
          font-size: 37px
          font-weight: 700
    &__links
      a
        margin-right: 5px
        &:last-child
          margin-right: 0
        img
          width: 40px
          height: 40px
          object-fit: contain



  &-text
    margin-bottom: 50px
    &__block
      margin-bottom: 30px
      &:last-child
        margin-bottom: 0

  &-bottom
    &__buttons
      display: flex
      justify-content: space-evenly
      margin-bottom: 51px
    &__button
      display: inline-block
      border-radius: 8px
      padding: 11px 55px
      color: #ffffff
      text-align: center
      p
        &:first-child
          font-size: 27px
          font-weight: 700
          text-transform: uppercase

      &.streamer-bottom__button--red
         background: linear-gradient(90deg, #ec463e 0%, #d01a14 50%, #ff4d35 100%)
      &.streamer-bottom__button--yellow
        background: $color-yellow
    &__text
      text-align: center
      margin: 0 auto 60px
      font-style: italic
      max-width: 480px
