.tickets
  background: url(/ticket_bg.png) no-repeat center / cover
  position: relative
  & .section-header
      color: #ffffff
      margin-bottom: 30px
  &-wrapper
    max-width: 940px
    margin: 0 auto 52px
  &-desktop
    display: flex
    flex-direction: row-reverse
    justify-content: space-between
  &-mobile
    display: none
  &-item
    width: calc((100% - 100px) / 2)
    filter: drop-shadow(6px 6px 12px rgba(0, 0, 0, 0.12))
    padding: 35px 20px
    -webkit-border-radius: 10px
    -moz-border-radius: 10px
    border-radius: 10px
    position: relative
    margin-top: 78px
    transition: all .2s ease
    background: linear-gradient(160.42deg, #FFC133 0%, #FF9900 47.49%, #FF9900 97.78%)
    &:before
      position: absolute
      top: -77px
      left: 50%
      transform: translateX(-50%)
      content: url("/cats/cat_ticket_2.svg")
    &:nth-child(even)
      background: linear-gradient(158.58deg, #35A3FF 1.75%, rgba(13, 109, 216, 0.73) 34.58%, rgba(13, 109, 216, 0.83) 67.94%, #33A0FD 98.95%), #3C78FE

      &:before
        position: absolute
        content: url("/cats/cat_ticket_1.svg")
    @media screen and (min-width: 1025px)
      &:hover
        transform: scale(1.05)
        filter: drop-shadow(16px 16px 32px rgba(0, 0, 0, 0.25))
    &__bottom
      // padding: 0 50px
      // max-width: 414px
      margin: 0 auto
      position: relative
    &__days
      color: #ffffff
      text-align: center
      font-size: 32px
      font-weight: 700
      line-height: 1.65
      margin-bottom: 20px
      padding: 0 14px
    &__list
      margin: 0 auto 35px
      width: fit-content

      &--item
        position: relative
        color: #ffffff
        padding-left: 44px
        margin-bottom: 15px

        &:last-child
          margin-bottom: 0
        &::before
          top: 50%
          left: 0
          display: block
          position: absolute
          transform: translateY(-50%)
          content: ''
          background: url("/not-c.svg") 0 0 no-repeat
          -webkit-background-size: 100%
          background-size: 100%
          width: 24px
          height: 24px
        &.checked
          &::before
            background: url("/check.svg") 0 0 no-repeat
            -webkit-background-size: 100%
            background-size: 100%
    &__price
      position: relative
      color: #ffffff
      text-align: center
      font-size: 32px
      font-weight: 700
      margin-bottom: 45px
      display: flex
      justify-content: space-between
      align-items: center
      height: 26px
      span
        min-width: 135px
      &::before, &::after
        content: ''
        width: 100%
        height: 2px
        background: #ffffff
    &__soon
      color: #ffffff
      position: absolute
      top: 41px
      left: 50%
      transform: translateX(-50%)
      font-size: 16px
      text-align: center
      margin-bottom: 10px
    .btn
      max-width: 100%
      &.btn-disable
        background: transparent
        border: 1px solid #fff
        color: #fff
        opacity: .66
        pointer-events: none
#tickets
  position: absolute
  top: -80px

@media screen and (max-width: 1360px)
  #tickets
    top: 0
@media screen and (max-width: 935px)
  .tickets
    &-desktop
      grid-gap: 50px
    &-item
      padding-left: 50px
      padding-right: 50px

@media screen and (max-width: 800px)
  .tickets
    &-desktop
      grid-gap: 40px
    &-item
      padding-left: 40px
      padding-right: 40px

@media screen and (max-width: 730px)
  .tickets
    background: url(/bg-tickets.png) no-repeat 0 0 / cover
    margin-bottom: 0
    .section-header
      padding: 0 20px
      margin-bottom: 25px
    &-wrapper
      display: block
      padding-bottom: 0
      margin-bottom: 25px
    &-desktop
      display: none
    &-mobile
      max-width: 100%
      display: block
      margin: 0 auto
    .swiper-slide
      min-width: 310px
      padding: 0 5px 0 15px
      position: static
      &:nth-child(even)
        .tickets-item
          background: linear-gradient(160.42deg, #FFC133 0%, #FF9900 47.49%, #FF9900 97.78%)
          &:before
            position: absolute
            content: url("/cats/cat_ticket_2.svg")

    &-item
      filter: drop-shadow(6px 6px 12px rgba(0, 0, 0, 0.12))
      padding: 25px 20px
      width: 100%
      -webkit-border-radius: 10px
      -moz-border-radius: 10px
      border-radius: 10px
      position: relative
      background: linear-gradient(158.58deg, #35A3FF 1.75%, rgba(13, 109, 216, 0.73) 34.58%, rgba(13, 109, 216, 0.83) 67.94%, #33A0FD 98.95%), #3C78FE
      &:before
        position: absolute
        top: -77px
        left: 50%
        transform: translateX(-50%)
        content: url("/cats/cat_ticket_1.svg")
      &__days
        padding: 0
        font-size: 24px
      &__list
        margin-bottom: 24px
        &--item
          padding-left: 30px
          margin-bottom: 25px
          +h5
          &::before
            top: 50%
            transform: translateY(-50%)
            content: ''
            background: url(/not-c.svg) 0 0 no-repeat
            width: 20px
            height: 20px
          &.checked
            &::before
              content: ''
              background: url(/check.svg) 0 0 no-repeat
      &__button
        width: 100%
        color: #a7a7a7
        border-radius: 25px
        height: 50px
        padding: 0
        display: flex
        align-items: center
        justify-content: center
        background: linear-gradient(90deg, #E94139 0%, #D01A14 50.2%, #FA4731 100%), linear-gradient(90deg, #FFC133 0%, #FFB800 50.2%, #FAFF00 100%), linear-gradient(90deg, #FFC133 0%, #DA9D00 32.62%, #DA9D00 61.58%, #FAFF00 98.31%), #FFC133
        &.btn-disable
          background: transparent
          border: 1px solid #fff
          color: #ffffff
          opacity: .66
    &-pagination
      display: block
      margin-top: 25px

@media screen and (max-width: 374px)
  .tickets
    .swiper-slide
      padding: 0 5px 0
